@charset "UTF-8";
/* CSS Document */
p {
	color: yellow;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: rgba(186,54,225,0.39);
	padding: 20px;
}
.paragraf_2{color: black;background-color: rgba(255,255,255,0.7)}
.novi_blok{
	background-color: rgba(255,255,255,0.9);
	margin: 20px;
	padding: 20px;
	width: 50%
}
h1,h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: yellow;
}

span {color: rgb(255,0,0);}
.pozadina{
	background-image: url("digitalni multimedij/illustrator.gif");
	background-color: black;
	background-attachment: scroll;
	background-position: center
	
}
.drugapozadna {
	background-color: darkgray;
}
a:link {
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000;
}
a:hover{
	background-color: darkgray
}
img{
	height: 400px;
}
.ime{
	color: gold;
	font-style: italic;
}
.nesto {
	color: mediumslateblue;
	font: old Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}